.swiper {
  width: 60%;
  height: 70%;
  min-height: 400px;
}
.slider{
  display:flex;
  justify-content: center;
  align-items:flex-end ;
}
.slider img{
  height: 95%;
}
.main-container{
  display: flex;
  flex-direction: column;
}
.container-vendidos{
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height:300px;
}
