
<div class="main-container">

  <div fxFlex="50%" class="container-img">

    <img src="../../../assets/onepiece1.jpg" alt="">
  </div>
  <div fxFlex="50%" class="container-info" >
    <h1>{{livro.titulo}}</h1>
    <h3>Autor: {{livro.autor}}</h3>
    <h3>Editora: {{livro.editora}}</h3>
    <h2>{{livro.precificacao}}</h2>
    <div class="button-container">
    <button mat-flat-button  color="primary">
      <mat-icon>shopping_cart</mat-icon>
      Comprar
    </button>
    <button mat-flat-button routerLink="/shoppingcart" color="primary">
      <mat-icon>shopping_cart</mat-icon>
      Adicionar ao Carrinho
    </button>
  </div>


  </div>

  <div class="container-info-comp" fxFlex="100%">

    <h2>Sinopse</h2>
    <h3>{{livro.sinopse}}</h3>
  </div>
  <div class="container-info-sugest" fxFlex="100%">
    <app-swiper-product-card></app-swiper-product-card>
  </div>
</div>
