/* You can add global styles to this file, and also import other style files */

html, body { height: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: auto;}
.main-container{
  height: 100% ;
  width: 100%;
  min-height: 500px;
  overflow: overlay;
  padding-bottom: 80px;

}
